<div>
  <h4>제목</h4>
  <h4>작성자</h4>
  <h4>작성일</h4>
  <h4>내용</h4>

  <%-results%>
  <button class="btn btn-info me-md-2" type="submit">
    <a href="/board/view/<%= boardtypes[0].type_id %>/1">목록</a>
  </button>
</div>
