<div>
  <h4>제목</h4>
  <h4>작성자</h4>
  <h4>작성일</h4>
  <h4>내용</h4>

  <%-results%>
  <button class="btn btn-outline-primary btn-sm" type="submit">
    <a href="/board/view/:type_id/1">목록</a>
  </button>
</div>
