<table class="table table-bordered">
  <tbody>
    <% if (result) { %>
    <tr>
      <%- result %>
    </tr>
    <% } else { %>
    <tr>
      <td>자료없음</td>
    </tr>
    <% } %>
  </tbody>
</table>
