<table class="table table-bordered">
  <tbody>
    <tr>
      <%- result %>
      <a href="/merchandise/update/:merId %>">수정</a>
      <a href="/merchandise/delete/:merId %>">삭제</a>
    </tr>
  </tbody>
</table>
